html * {
   margin: 0; 
   padding: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif; 
}
body{
  min-height: 100vh;
  width: 100vw;
}
.theme{
  height: 100vh;
}
.dark-theme{
  background-color: #1e1e1e !important;
  color:#c9c9c9 !important;
}
.form-dark{
  background-color: #3c3c3c !important;
}