@{
    ViewBag.Title = "Home";
}


<div class="row">
    <h1 class="col-md-12">
        Welcome to Northwind!
    </h1>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <p>
            This website project allows you to view the categories and employees of the Northwind database created by Microsoft.
        </p>
        <p>
            You can also add, edit, and delete a category or employee.
        </p>
        <p>
            To do so, simply click the Categories or Employees link in the navigation bar.
        </p>
    </div>
</div>