<div class="d-flex align-items-center justify-content-between mb-3">
  <h2>Categories</h2>
  <button
    *ngIf="!loading"
    mat-raised-button
    (click)="
      setFormAction('Add', { CategoryID: 0, CategoryName: '', Description: '' })
    "
  >
    Add Category
  </button>
</div>
<mat-progress-spinner
  *ngIf="loading"
  [color]="color"
  [mode]="mode"
  [diameter]="40"
>
</mat-progress-spinner>
<table
  *ngIf="!loading"
  class="table table-hover shadow p-3 mb-5 bg-body rounded"
  [class.table-dark]="dark"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categories">
      <th scope="row">{{ cat.CategoryID }}</th>
      <td>{{ cat.CategoryName }}</td>
      <td>{{ cat.Description }}</td>
      <td class="d-flex justify-content-end">
        <button
          mat-mini-fab
          color="warn"
          (click)="deleteCategory(cat.CategoryID)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="setFormAction('Edit', cat)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
