.form-group .ng-valid, .form-group .ng-valid.required  {
  border: 1px solid #42A948;/* green */
}

.form-group .ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
.d-flex > button{
  margin-right: 10px;
}